body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.span_highlight_name,
.span_highlight_attribute {
  cursor: pointer;
}

button {
  background-color: #ddd;
  border: 1px solid #aaa;
  cursor: pointer;
  padding: 5px 10px;
}

button:hover {
  background-color: #999;
  color: white;
}

.is_solved {
  font-style: italic;
}